<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.v3.business.mapper.ShopperOrderinfosMapper">
    <resultMap id="shopperOrderinfosMap" type="com.v3.business.model.ShopperOrderinfos" autoMapping="true">
    </resultMap>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
            x1.price
            ,x1.user_id,tbUser1.username as userName
            ,x1.state
            ,x1.create_time
            ,x1.update_time
            ,x1.is_deleted
            ,x1.id

    </sql>
    <sql id="middles">
        from shopper_orderinfos x1
                left join (select * from sys_user where is_deleted=0) tbUser1  on x1.user_id=tbUser1.id
    </sql>
    <sql id="conditions">
        <if test="vo.id != null and vo.id != ''">
            and x1.id like CONCAT('%',#{vo.id},'%')
        </if>
        <if test="vo.userId != null and vo.userId != ''">
            and x1.user_id=#{vo.userId}
        </if>
        <if test="vo.userName != null and vo.userName != ''">
            and tbUser1.username like CONCAT('%',#{vo.userName},'%')
        </if>
        <if test="vo.state != null and vo.state != ''">
            and x1.state like CONCAT('%',#{vo.state},'%')
        </if>
        <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
            and x1.create_time >= #{vo.createTimeBegin}
        </if>
        <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
            and x1.create_time &lt;= #{vo.createTimeEnd}
        </if>
        <if test="vo.updateTimeBegin != null and vo.updateTimeBegin != ''">
            and x1.create_time >= #{vo.updateTimeBegin}
        </if>
        <if test="vo.updateTimeEnd != null and vo.updateTimeEnd != ''">
            and x1.create_time &lt;= #{vo.updateTimeEnd}
        </if>
        and x1.is_deleted = 0 order by x1.create_time desc
    </sql>
    <select id="selectPage" resultMap="shopperOrderinfosMap">
        select <include refid="columns" />
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>
    <select id="queryList" resultMap="shopperOrderinfosMap">
        select <include refid="columns" />
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>
</mapper>
